
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap');

:root {
    --primary: #0d6efd;
    --dark: #21252f;
    --body: #888;
    --white: #ffffff;
    --box-shadow: 0 20px 30px rgba(0,0,0,0.1);
}

body {
    font-family: "Sora", sans-serif;
    line-height: 1.7;
    color: var(--body);
}

h1,h2,h3,h4,h5,h6,
.display-4 {
    color: var(--dark);
    font-weight: 700;
}

a {
    color: var(--dark);
    text-decoration: none;
}

img {
    width: 100%;
}

.navbar {
    box-shadow: var(--box-shadow);
}

.logo {
    width: 160px;
}

.navbar .nav-link {
    font-size: 14px;
    font-weight: 700;
}

.navbar .nav-link.active {
    color: var(--primary) !important;
}

.btn {
    padding: 14px 18px;
    border-width: 2px;
    border-radius: 0;
}

.intro {
    background-image: url(/static/images/img1.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 2;
}

.intro::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(21, 20, 51, 0.8);
    z-index: -1;
}

section {
    scroll-behavior:smooth;
    padding-top: 120px;
    padding-bottom: 120px;
}
#faq{
    scroll-behavior:smooth;
    padding-top: 2px;
    padding-bottom: 0px;
}
.card-effect {
    box-shadow: var(--box-shadow);
    background-color: var(--white);
    padding: 25px;
    transition: all 0.35s ease;
}

.card-effect:hover {
    box-shadow: 20px 50px 50px rgba(0,0,0,0.1);
    transform: translateX(10px);
}

.iconbox {
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    color: var(--white);
    font-size: 32px;
    border-radius: 100px;
    flex: none;
}

.footer-top {
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: var(--dark);
}

.footer-top a {
    color: var(--body);
}

.footer-top a:hover {
    color: var(--white);
}

.footer-bottom {
    background-color: #242933;
}